#set($parameters = $input.path('$'))
#set($parameters.pollId = $input.params('pollId'))
#set($parameters.optionId = $input.params('optionId'))
#set($parameters.userId = $context.authorizer.principalId)
#set($parameters.sourceIp = $context.identity.sourceIp)
#set($parameters.requestTimeEpoch = $context.requestTimeEpoch)
#set($parameters.requestId = $context.extendedRequestId)
#set($body = "{")
#foreach($k in $parameters.keySet())
#set($body = $body + """$k"": """ + $util.escapeJavaScript($parameters.get($k)) + """, ")
#end
#set($body = $body + "}")
Action=SendMessage&MessageBody=$body.replaceAll(", }", "}")
