#set($inputRoot = $util.parseJson($input.path('$.output')))
{
  "pollId": "$inputRoot.poll.PollId.Value",
  "userId": "$inputRoot.poll.UserId.Value",
  "prompt": "$inputRoot.poll.Prompt.Value",
  "options": [
    #foreach($element in $inputRoot.options)
      {
        "optionId": "$element.OptionId.Value",
        "pollId": "$element.PollId.Value",
        "text": "$element.Text.Value",
        "votes": $element.Votes.Value,
        "updatedAt": "$element.UpdatedAt.Value"
      }#if($foreach.hasNext),#end
    #end
  ],
  "createdAt": "$inputRoot.poll.CreatedAt.Value",
  "duration": $inputRoot.poll.Duration.Value,
  "archived": $inputRoot.poll.Archived.Value,
}
